//docstyle css

<style>
h1{
	text-align: center;
	font-size: 50px;

}
.header{
	background-color:rgba(10,74,146, 0.5);
	color:fff;
}


.footer{
	background-color:rgba(10,74,146, 0.5);
	color:fff;
	text-align:center;
}

.card{
	width: 100%;
	max-width: 18rem;
	margin: 0 20;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .btn{
	color: fff
  }
  
  .btn{
            
    text-decoration: none;
    display:inline-block;
    width:50%;
    padding:5spx;
    background: rgb(76, 11, 114);
    width:20%;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.9s ease;
    box-shadow: -5px 1px 3px 0px rgb(197, 30, 219);
    border-radius: 10px 20px;

  }


  .btn:hover{
            
    background: rgb(240, 225, 14);
    color:rgb(107, 98, 16);
    box-shadow:none;
    border-radius: 10px;

  }
  .btnreturn{
          
    text-decoration: none;
    display:inline-block;
    width:50%;
    padding:5px;
    background: rgb(81, 11, 138);
    width:20%;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgb(171, 106, 231);
    border-radius: 10px;
   }

  .btnreturn:hover{

    box-shadow: 0px 0px 20px 5px rgb(240, 236, 18);
    color:rgb(240, 200, 21);
    
  }
  .btnir{
    text-decoration: none;
    display:inline-block;
    width:50%;
    padding:5px;
    background: rgb(56, 116, 8);
    width:20%;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgb(175, 248, 132);
    border-radius: 10px;
   }

  .btnir:hover{

    box-shadow: 0px 0px 20px 5px rgb(240, 200, 21);
    color:rgb(186, 243, 53); 
  }
  .cont{
    color: white;
    
  }

</style>